.task-container{
    --main-color: #1a77ff;
    width: 100%;
    height: 100%;
    flex: 6;
    overflow-y: auto;
}

.task-container .icon, .task-controls .icon{
    width: 24px;
    height: 24px;   
    margin-right: 10px; 
    box-sizing: content-box;
}

.total-task-count{
    padding: 10px 0px;
    font-size: 32px;
}

.ant-progress-steps-item{
    flex: 1 !important;
}

.ant-progress{
    width: 80% !important;
}

.task-controls{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}


.task-display-controls{
    flex: 1;
    display: flex;
    justify-items: flex-start;
    align-items: center;
}


.task-display-option{
    height: auto;
}


.task-sorting-options{
    flex: 1;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    padding: 0 10px;
}



.task-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px 0;
}

.task-list-row{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px 0;
}

.add-task-box{
    border-radius: 10px;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.task-list .add-task-box{
    height: 15.5rem;
}

.task-list-row .add-task-box{
    min-height: 7rem;
}

.add-task-box:active{
    background-color:     var(--main-color-blur);

}

@media (min-width: 1025px) and (max-width: 1300px) {
    .task-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 569px) and (max-width: 1024px) {
    .task-list{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 568px) {
    .task-list{
        grid-template-columns: 1fr;
    }
}



@media only screen and (max-height: 500px) {

    .task-controls{
        padding: 0px !important;
    }
}