:root{
    --main-color: #1a77ff;
    --main-color-blur: #13d4ff;
    --task-description-title-color: #000000;
    --delete-icon-bg-color: #ff1a1a;
    --delete-icon-bg-color-blur: #ff8d8d;
}
.task.isCard{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    height: 15.5rem;
    display: flex;
    flex-direction: column;
}

.task.isRow{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}

.task:hover{
    background-color:     var(--main-color);
}

.task:hover .task-title,
.task:hover .task-desciption,
.task:hover .task-date{
    color: white;
}

.task-title{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
    flex: 1;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.isCard .task-title{
    flex: 0.7;
}

.task-desciption{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.isCard .task-desciption{
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
    color: var(--task-description-title-color);
    height: 100px;
}

.isRow .task-desciption{
    font-size: 1rem;
    line-height: 2rem;
    color: var(--task-description-title-color);
    height: 100px;
    flex: 3;
}

.task-date{
    display: flex;
    align-items: center;
    color: var(--main-color);
    flex: 1;
}


.isCard .task-others-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 0.8px dashed rgb(189, 189, 189);
} 

.task-main-info{
    display: flex;
    flex: 3;
    flex-direction: column;
    height: 100%;
}

.isRow .task-main-info{
    margin-right: 10px;
}

.task-others-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    flex: 0.5;
}

.isRow .task-others-info{
    flex: 2;
}

.other-action{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.delete-task:hover{
    border-radius: 50%;
    background-color: var(--delete-icon-bg-color);
}

.delete-task:active{
    border-radius: 50%;
    background-color: var(--delete-icon-bg-color-blur);
}

.complete-tag, .uncomplete-tag{
    display: inline-block;
    border-radius: 24px;
    padding: 5px 10px;
    margin-right: 20px;
    width: fit-content;
    text-align: center;
    flex: 1;
}

.complete-tag{
    background-color: greenyellow;
}

.uncomplete-tag{
    background-color: red;
    color: white;
}